@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a href="@ViewBag.Path">@ViewBag.Path</a>
<img src="@ViewBag.Path"/>
<p>@ViewBag.Analiz1</p>
<p>@ViewBag.Analiz2</p>